### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/

/Test/
/setup/GraphDB/config/
/Client/
/PSNode/initial_environment.json
/VSNode/initial_environment.json
/setup/SensingDB/insert_file.sql
/LinkProcess/access_network_link_process.json
